<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="MainConnection"
            connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=HigsoBozonas;Integrated Security=True"
            providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>